.container{
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('../images/restaurant.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}